.pic{

height: auto;
width: 30%;



}
.cookies{
    height: 10vh;
    width: 100%;
    background-color: azure;
}
.wordPic{

    height: auto;
    width: 90%;
    position: relative;
    top: -420px;
    z-index: 0;
    
}

.zindex{
    z-index: 2;
}
.resize{

    height: 80vh;
    width:100%;
    
    
}
.resize2{

    height: 40vh;
    width:100%;
    
    
}
.baseText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    position: absolute;
    left: 20%;
}
.descText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    position:relative;
    left:10%;
    
    top: -1090px;
}
.ratingText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    position:relative;
    left:5%;
    
    top: -1090px;
}
.titleText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    position: absolute;
    top: 100px;
    left:5%;

}
.largeText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;

}
.move{
    left:30%;
    position: relative;
}