{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="vh-120 bg-secondary text-white text-center" >

    <img src="static/arcadia.jpg" class="pic" alt="hole in the wall logo">
    <p class="baseText titleText"><b>ARCADIA</b> </p>
    </div>
    <div class="resize bg-success text-white " >
    
      <img src="static/drinks_text.png" class="wordPic" alt="hole in the wall logo">
      <p class="descText"> High quality, tasty beer(from a variety of breweries) -<br>  on a constant rotation <br>but not much variety in other drinks 8/10</p>
    </div>
    <div class="resize bg-secondary text-white text-left" >
    
      <img src="static/Vibes_text.png" class="wordPic" alt="hole in the wall logo">
      <p class="descText">Not many students, <br>quite chill with rustic decor and good service 5.5/10</p>
    </div>
    <div class="resize bg-success text-white text-left" >
    
      <img src="static/Price_text.png" class="wordPic" alt="hole in the wall logo">
      <p class="descText">No deals but decent overall value for the quality 7.5/10
      </p>
    </div>










    <div class="resize2 bg-secondary text-white text-left" ></div>







<div class="container shadow p-3 mb-5 bg-body text-white ">
    <h1 class="my-5">Add a review</h1>


<!--Creating a form to pass user input into the views.py script using names and ids-->
    <form actions="/" METHOD="POST">



      <div class="form-floating mb-3">
        <label for="drinks_rating">Drinks Rating
        <input type="text" name="drinks_rating" id="drinks_rating" class="form-control" placeholder ="0" required >
        </label>
      </div>

        <div class="form-floating mb-3">
            <label for="vibes_rating">Vibes Rating
            <input type="text" name="vibes_rating" id="vibes_rating" class="form-control" placeholder ="0" required >
            </label>
        </div>
        
        <div class="form-floating mb-3">
          <label for="price_rating">Price Rating
          <input type="text" name="price_rating" id="price_rating" class="form-control" placeholder ="0" required >
          </label>
        </div>


        <div class="form-floating mb-3">
            <label for="review_content">Review</label>
            <textarea type="text" name="review_content" class="form-control" placeholder ="Write a review" id="review_content" style="height: 300px" required></textarea>
            
        </div>




        <div>
            <input class="btn btn-primary"type="submit" value="Post review">
        </div>
    </form>



</div>

<div class="coursework_description container bg-secondary text-white " >
  <h1>User Reviews</h1>
 


  <table class="table table-hover table-bordered shadow p-3 mb-5">
   <!--Using a for loop to print out every row of the table in accoradnce to the information in the database-->

    {% for review in tasks %}
    <tr>
      <td>
        
        <b>User Name: </b>{{review.user_name}}<br/>


        <b>Drinks score: </b>{{review.drinks_rating}}<br/>
        <b>Vibes score: </b>{{review.vibes_rating}}<br/>
        <b>Price score: </b>{{review.price_rating}}<br/>
        <b>Review: </b> {{review.review_content}}<br/>




 

      </td>
    </tr>
    {% endfor %}





</div>

{% endblock %}