<html>
    <head>
      <head>
        <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
          <link rel="stylesheet" href="static/style.css" >
          <title> Hole in the Wall - Pub Bible</title>
      
      
        </head>
  {% block head%}{% endblock %}


    <body class="bg-secondary">

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark zindex">
       
   
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item text-light"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item text-light"><a class="nav-link" href="/form">Create Assessment</a></li>
            <li class="nav-item text-light"><a class="nav-link" href="/completed">Completed Assessments</a></li>
            <li class="nav-item" ><a class="nav-link " href="/incomplete">Incomplete Assessments</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pubs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/arcadia">Arcadia</a>
                <a class="dropdown-item" href="/assembly">Assembly</a>
                <a class="dropdown-item" href="/brewdog">Brewdog</a>
                <a class="dropdown-item" href="/headofsteam">Head of Steam</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


      <div>
        {% block content %}{% endblock %}
      </div>
      {%block body %}{% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
