{% extends "base.html" %}

{% block head %}

<html>
 

  {% endblock %}


{% block body %}

<div class="coursework_description container" >
    <h1>Completed Coursework</h1>
    <h2  class =" btn btn-outline-secondary"> <a href="/form" >Create new coursework </a></h2>
  <!--Using a for loop to print out every row of the table in accoradnce to the information in the database-->
   
  <table class="table table-hover table-bordered shadow p-3 mb-5 ">
    {% for assignment in finished %}
    <tr>
    <td>
        <b>Module Title: </b>{{assignment.module_title}}<br/>
        <b>Module Code: </b>{{assignment.module_code}}<br/>
        <b>Coursework Description: </b> {{assignment.cwk_description}} <br/>
               
        <b>Coursework Deadline: </b> {{assignment.cwk_deadline}}<br/>

          <b>Status: </b> {{assignment.cwk_completed}}<br/>
      


        <!--Using buttons to access delete and Update funtionality -->
        <a href="/update/{{assignment.id}}" class="btn btn-outline-primary btn-sm" >Update</a><br/>
        <a href="/delete_coursework/{{assignment.id}}" class="btn btn-outline-danger btn-sm" >Delete</a>
      </td>
    </tr>

    {% endfor %}
    
  </table>
    





</div>

{% endblock %}

