{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="vh-120 bg-secondary text-white text-center" >

    <img src="static/hitw.png" class="pic" alt="hole in the wall logo">
    <p class="baseText text-center">Heres our rating criteria:</p>
    </div>
    <div class="resize bg-danger text-white " >
    
      <img src="static/drinks_text.png" class="wordPic" alt="hole in the wall logo">
      <p class="descText"> This is all about drinks selection, quality and variety - <br>with a focus 
        on beers <br>but having a good selection of other drinks <br> will bump up the score</p>
    </div>
    <div class="resize bg-secondary text-white text-left" >
    
      <img src="static/Vibes_text.png" class="wordPic" alt="hole in the wall logo">
      <p class="descText">This is all about ambience, aesthetic and clientel. <br>
        A lot of times vibes can make or break a drinking experience, <br>no one wants to stay in a dingy bar</p>
    </div>
    <div class="resize bg-danger text-white text-left" >
    
      <img src="static/Price_text.png" class="wordPic" alt="hole in the wall logo">
      <p class="descText">This is about how expensive (or inexpensive) a pub is.<br> sometimes we try and pretend price doesn't matter 
        <br>but nothing feels better than getting a good deal
      </p>
    </div>

<ul>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle largeText move" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pubs
      </a>
      <div class="dropdown-menu largeText" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item largeText" href="/arcadia">Arcadia</a>
        <a class="dropdown-item largeText" href="/assembly">Assembly</a>
        <a class="dropdown-item largeText" href="/brewdog">Brewdog</a>
        <a class="dropdown-item largeText" href="/headofsteam">Head of Steam</a>
      </div>
    </li>
  </ul>

{% endblock %}