{% extends "base.html" %}

{% block head %}
<h1> Test </h1>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Coursework To Do list</h1>


    <!--Creating a form to pass user input into the views.py script using names and ids-->
    <form actions="/update/{{coursework_update.id}}" METHOD="POST">

        <div class="form-floating mb-3">
            <label for="module_title">Module Title</label>
            <input type="text" name="module_title"  value="{{coursework_update.module_title}}" class="form-control" placeholder ="Web app dev" required>
            
        </div>
        
        <div class="form-floating mb-3">
            <label for="module_code">Module Code
            <input type="text" name="module_code"  value="{{coursework_update.module_code}}" class="form-control" placeholder ="COMP1234" required >
            </label>
        </div>

        <div class="form-floating mb-3">
            <label for="cwk_description">Coursework Description</label>
            <textarea type="text" name="cwk_description" value="{{coursework_update.cwk_description}}"class="form-control" placeholder ="Create a Web App..." id="cwk_description" style="height: 300px" required></textarea>       
        </div>

        
        
        <div class="form-floating mb-3">
            <label for="cwk_deadline">Coursework Deadline
            <input type="date" name="cwk_deadline" id="cwk_deadline" class="form-control" value="{{coursework_update.cwk_deadline}}" placeholder ="01/02/2022" required>
             </label>

             
        </div>  


        <div >
            <label>Completion Status:</label>
            <select class="form-select form-select-lg mb-3" name="cwk_completed" value="{{coursework_update.cwk_completed}}" id="cwk_completed" aria-label=".form-select-lg example">
                <option selected value="Unfinished">Unfinished</option>
                <option value="Finished" >Finished</option>

            </select>
        </div> 



        <input type="submit" class="btn btn-danger" value="Update Coursework">
    </form>
</div>

 {% endblock %}